<div>
    <h1>Tu perfil (Sin datos sensibless)</h1>
    <p id="result"></p>

    <button id="btn_cargar_imagen" class="btn btn-primary">Cargar Documentos</button>
    <a id="btn_salir" onclick="logout()"><button>Salir</button></a>
</div>

<script src="/js/profile.js"></script>
<script src="/js/logout.js"></script>
