<div>
    <h1>Restaura la contraseña del usuario</h1>
    <form id="restartPasswordForm">
        <label>Correo electrónico</label>
        <input name="email" placeholder="correo"/>
        <label>Nueva contraseña</label>
        <input name="newPassword" type="password"/>
        <input type="submit">
    </form>
    <hr>
    <a href="/login">
        <button>Inicio</button>
    </a>
</div>
<script src="/js/restartPassword.js"></script>